<table *ngIf="oldMembers.length" mat-table [dataSource]="oldMembers">

  <!-- Name column -->
  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef i18n>Username</th>
    <td mat-cell *matCellDef="let row"> {{ row.user.username }} </td>
  </ng-container>

  <!-- Statistics column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef i18n>Email</th>
    <td mat-cell *matCellDef="let row"> {{ row.user.email }} </td>
  </ng-container>

  <!-- Name column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef i18n>Name</th>
    <td mat-cell *matCellDef="let row"> {{ row.user.name }} </td>
  </ng-container>

  <!-- Surname column -->
  <ng-container matColumnDef="surname">
    <th mat-header-cell *matHeaderCellDef i18n>Surname</th>
    <td mat-cell *matCellDef="let row"> {{ row.user.surname }} </td>
  </ng-container>

  <!-- Actions column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef i18n></th>
    <td mat-cell *matCellDef="let row" class="action-cell">
      <button mat-icon-button [matMenuTriggerFor]="menu" class="flex items-center">
        <app-icon icon="matMoreVert"></app-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item class="important" (click)="deleteMember(row.user.id)">
          <span i18n>Delete member</span>
        </button>
      </mat-menu>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['username', 'email', 'name', 'surname', 'actions']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['username', 'email', 'name', 'surname', 'actions'];"></tr>

</table>

<p *ngIf="newMembers.length" class="text-xl mt-3" i18n>Members to add</p>
<table *ngIf="newMembers.length" mat-table [dataSource]="newMembers">

  <!-- Username or email column -->
  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef i18n>Username or Email</th>
    <td mat-cell *matCellDef="let row"> {{ row }} </td>
  </ng-container>

  <!-- Actions column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef i18n></th>
    <td mat-cell *matCellDef="let row" class="action-cell">
      <button mat-icon-button [matMenuTriggerFor]="menu" class="flex items-center">
        <app-icon icon="matMoreVert"></app-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item class="important" (click)="deleteMember(row)">
          <span i18n>Delete member</span>
        </button>
      </mat-menu>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['username', 'actions']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['username', 'actions'];"></tr>

</table>
