@import '../../../../styles/typography';

:host {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

section {
  @include typo-title;

  display: flex;
  width: 100%;
  height: 46px;
  align-items: center;
  justify-content: space-between;
  color: var(--color-neutral-300);
  cursor: pointer;
  transition: color 0.2s ease-in-out;

  .element {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 0 0 0 20px;
  }

  .icons {
    display: flex;
    height: 100%;
    align-items: center;

    .options {
      display: flex;
      height: 100%;
      align-items: center;
      padding: 0 5px 0 0;
    }

    .open-below {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;
      padding: 0 5px;

      // padding: 0 5px;

      app-icon {
        display: flex;
        justify-content: center;

        &.active {
          transform: scaleY(-1);
        }
      }
    }

    .options button {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &:hover {
    color: var(--color-text);
  }
}

.list {
  display: none;
  width: 100%;
  cursor: pointer;

  &.active {
    display: block;
    justify-content: center;
    background-color: var(--color-secondary-600);
  }
}

.hidden {
  visibility: hidden;
}
