<section>
  <div [routerLink]="routerLink">
    <fa-icon></fa-icon>
    <ng-content></ng-content>
  </div>
  <div class="icons">
    <div class="open-below" [class.hidden]="!showArrow()" (click)="toggleNavElement()">
      <app-icon [icon]="faAngleDown" size="16px" [class.active]="active"></app-icon>
    </div>
    <div class="options" [class.hidden]="!showOptions">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <ng-content select=".options"></ng-content>
      </mat-menu>
    </div>
  </div>
</section>
<div class="list" #elementList [class.active]="active">
  <ng-content select=".open-below"></ng-content>
</div>
