@import '../../../../styles/typography';

section {
  @include typo-title;

  width: 100%;
  padding: 14px 0 14px 40px;
  color: var(--color-text);
  cursor: pointer;
}

.list {
  display: block;
  background-color: var(--color-secondary-600);
  cursor: pointer;
}
