/* =================================== */
/* ==== Styling dependency graphs ==== */
/* =================================== */
.dark .graph > polygon {
  fill: #212121;
}

.dark .graph > text {
  fill: white;
}

.dark .graph .cluster polygon {
  stroke: white;
}

.dark .graph .edge path {
  stroke: white;
}

.dark .graph .edge polygon {
  stroke: white;
  fill: white;
}
