<section class="main">
  <section class="box">
    <section class="form-side">
      <div class="logo" routerLink="/"></div>
      <form [formGroup]="form" (submit)="login()">
        <div>
          <h2 class="typo-heading-5" i18n>Login to system</h2>
          <p class="typo-body" i18n>This is a secure site. Please enter your login information to enter or <a routerLink="/auth/register">click here</a> to register.</p>
        </div>

        <app-input formControlName="email" type="email" placeholder="name@example.com" floatingLabel="Email" i18n-floatingLabel i18n-placeholder></app-input>

        <app-input formControlName="password" type="password" placeholder="**********" floatingLabel="Password" i18n-floatingLabel i18n-placeholder></app-input>

        <div>
          <!-- CHECKBOX TODO -->
          <p class="typo-body" i18n>Forgot your password? <a routerLink="/auth/password-reset">Reset password</a>.</p>
        </div>

        <app-button variant="primary" i18n>Log in</app-button>

      </form>
    </section>
    <section class="image-side">

    </section>
  </section>
</section>
