<app-task-view-options [project]="(project$ | async)!">
</app-task-view-options>

<div class="w-full mb-10 grow" *ngFor="let sprint of sprintListActive$ | async">
  <div class="flex items-end gap-3 mb-2">
    <h2 class="title text-xl font-bold">{{sprint.name}}</h2>
    <app-button variant="secondary" (click)="closeSprint(sprint)" i18n>Close sprint</app-button>
    <div class="text-base">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="editSprint(sprint)">
          <span i18n>Edit sprint</span>
        </button>
        <button mat-menu-item (click)="revertSprint(sprint)">
          <span i18n>Revert sprint to backlog</span>
        </button>
        <button mat-menu-item class="important" (click)="deleteSprint(sprint)">
          <span i18n>Delete sprint</span>
        </button>
      </mat-menu>
    </div>
  </div>
  <div>
    <h2 class="text-base description">{{ (sprint.startDate | date: 'dd.MM.yyyy HH:mm') }} - {{ (sprint.finishDate |
      date: 'dd.MM.yyyy HH:mm') }}</h2>
    <h2 class="text-base description markdown-preview" [innerHTML]="sprint.description | markdown"></h2>
  </div>
  <task-list [tasks]="sprint.tasks" [members]="(members$ | async) || emptyMap" [projectId]="projectId"
    [statusList]="(statusList$ | async) || []"></task-list>
</div>

<div class="w-full mb-10 grow" *ngFor="let sprint of sprintListCreated$ | async">
  <div class="flex items-end gap-3 mb-2">
    <h2 class="title text-xl font-bold">{{sprint.name}}</h2>
    <ng-container *ngIf="((sprintListActive$ | async) || []).length">
      <app-button [disabled]="true" variant="primary" (click)="startSprint(sprint)" i18n>Start sprint</app-button>
    </ng-container>
    <ng-container *ngIf="!((sprintListActive$ | async) || []).length">
      <app-button variant="primary" (click)="startSprint(sprint)" i18n>Start sprint</app-button>
    </ng-container>
    <div class="text-base">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="editSprint(sprint)">
          <span i18n>Edit sprint</span>
        </button>
        <button mat-menu-item class="important" (click)="deleteSprint(sprint)">
          <span i18n>Delete sprint</span>
        </button>
      </mat-menu>
    </div>
  </div>
  <div>
    <h2 class="text-base description">{{ (sprint.startDate | date: 'dd.MM.yyyy HH:mm') }} - {{ (sprint.finishDate |
      date: 'dd.MM.yyyy HH:mm') }}</h2>
    <h2 class="text-base description markdown-preview" [innerHTML]="sprint.description | markdown"></h2>
  </div>
  <task-list [tasks]="sprint.tasks" [members]="(members$ | async) || emptyMap" [projectId]="projectId"
    [statusList]="(statusList$ | async) || []"></task-list>
</div>

<div class="w-full mb-10 grow flex flex-col">
  <h2 class="title text-xl font-bold" i18n>Backlog</h2>
  <task-list [tasks]="(taskList$ | async) || []" [members]="(members$ | async) || emptyMap" [projectId]="projectId"
    [statusList]="(statusList$ | async) || []"></task-list>
</div>
