<ng-container *ngIf="isControlInitialized">
  <!-- <ng-container *ngLet="selectedOptions$ | async as selectedOptions"> -->

  <!-- Overlay origin -->
  <div class="trigger" #trigger="cdkOverlayOrigin" cdkOverlayOrigin></div>

  <!-- Select input -->
  <app-input #input (click)="toggleOverlay()" type="text" [formControl]="labelControl" [readonly]="true"
    [floatingLabel]="floatingLabel" [allowResizeByError]="allowResizeByError">
    <!-- <app-icon class="prefix" *ngIf="selected.icon" size="1rem" [icon]="selected.icon"></app-icon> -->
    <app-icon class="suffix" [icon]="faChevronDown" size="0.75rem"></app-icon>
    <div *ngIf="multiple" class="overlay">
      <pill *ngFor="let option of selectedOptions$ | async">{{ option.viewValue }}</pill>
    </div>
  </app-input>

  <!-- Select overlay -->
  <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="isOpen"
    [cdkConnectedOverlayBackdropClass]="'cdk-overlay-transparent-backdrop'" [cdkConnectedOverlayHasBackdrop]="true"
    [cdkConnectedOverlayMinWidth]="overlayMinWidth + 'px'" [cdkConnectedOverlayWidth]="overlayMinWidth + 'px'">
    <div #overlay class="connected-overlay" (clickOutside)="closeOverlay()">
      <ng-content select="app-option"></ng-content>
    </div>
  </ng-template>

  <!-- </ng-container> -->
</ng-container>
