<ng-container *ngLet="selected$ | async as selected">
  <app-input #input #trigger="cdkOverlayOrigin" (click)="toggle()" type="text" [formControl]="selected.control"
    [readonly]="true" [floatingLabel]="floatingLabel" cdkOverlayOrigin>
    <app-icon class="prefix" *ngIf="selected.icon" size="1rem" [icon]="selected.icon"></app-icon>
    <app-icon class="suffix" [icon]="faChevronDown" size="0.75rem"></app-icon>
  </app-input>

  <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger"
    [cdkConnectedOverlayOpen]="(isOpen$ | async) || false"
    [cdkConnectedOverlayBackdropClass]="'cdk-overlay-transparent-backdrop'" [cdkConnectedOverlayHasBackdrop]="true"
    [cdkConnectedOverlayMinWidth]="overlayMinWidth + 'px'">
    <div class="overlay">
      <ng-content></ng-content>
    </div>
  </ng-template>
</ng-container>
