<mat-form-field appearance="outline">
  <mat-label>{{ floatingLabel }}</mat-label>
  <mat-select [formControl]="control" name="test" disableOptionCentering="true">
    <mat-select-trigger *ngIf="(selected$ | async) as selectedItem">
      <app-icon *ngIf="selectedItem.icon" [icon]="selectedItem.icon" size="15.75px"></app-icon>
      {{ selectedItem.viewValue }}
    </mat-select-trigger>
    <ng-container *ngIf="yet">
      <mat-option *ngFor="let option of options" [value]="option.value">
        <app-icon *ngIf="option.icon" [icon]="option.icon" size="15.75px"></app-icon>
        {{ option.viewValue }}
      </mat-option>
    </ng-container>
  </mat-select>
</mat-form-field>
