{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "cache": "false",
  "exclude": [
    "./coverage/**",
    "cypress/**",
    "./dist/**",
    "**/*.spec.ts"
  ],
  "include": [
    "src/**/*.ts"
  ],
  "report-dir": "./coverage/workflow-e2e/"
}
