:host {
  display: flex;
  height: 100%;
  border-right: 1px solid var(--color-secondary-400);
}

.wrapper {
  display: flex;
  overflow: auto;
  height: 100%;
  flex-direction: column;
  flex-grow: 1;
}
