@import '../../../../styles/typography';

:host {
  @include typo-title;

  background-color: var(--color-secondary-600);
}

li {
  background-color: var(--color-secondary-700);
}

.workspace {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 14px 5px 14px 30px;
  border-radius: var(--border-radius);
  color: var(--color-neutral-300);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  .icons {
    display: flex;
    align-items: center;

    .open-below {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 5px;

      app-icon {
        display: flex;
        justify-content: center;

        &.active {
          transform: scaleY(-1);
        }
      }
    }

    .options button {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &:hover {
    background-color: var(--color-secondary-500);
  }
}

.project {
  display: none;
  width: 100%;
  cursor: pointer;

  &.active {
    display: block;
    justify-content: center;
    background-color: var(--color-secondary-600);
    color: var(--color-neutral-300);
    transition: background-color 0.2s ease-in-out;

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 14px 5px 14px 40px;
      border-radius: var(--border-radius);

      &:hover {
        background-color: var(--color-secondary-500);
      }
    }
  }
}

.hidden {
  visibility: hidden;
}
