<section>
  <div class="workspace">
    <div (click)="routeToWorkspace()">
      <ng-content></ng-content>
    </div>
    <div class="icons">
      <div class="open-below" [class.hidden]="(showArrow$ | async) === false" (click)="toggleWorkspace()">
        <app-icon [icon]="faAngleDown" size="16px" [class.active]="activeWorkspace"></app-icon>
      </div>
      <div class="options">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="createProject()">
            <span i18n>Create project</span>
          </button>
          <button mat-menu-item (click)="editWorkspace()">
            <span i18n>Edit workspace</span>
          </button>
          <button mat-menu-item class="important" (click)="deleteWorkspace()">
            <span i18n>Delete workspace</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
  <div class="project" [class.active]="activeWorkspace">
    <ul #elementList>
      <li *ngFor="let projectWithPriv of workspace.projectsWithPrivileges">
        <div (click)="routeToProject(projectWithPriv.project)">{{projectWithPriv.project.name}}</div>
        <div class="icons">
          <div class="options">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item *ngIf="projectWithPriv.project.gitHubIntegration"
                (click)="openWithVSCode(projectWithPriv.project)">
                <span i18n>Open in Visual Studio Code</span>
              </button>
              <button mat-menu-item (click)="editProject(projectWithPriv.project)">
                <span i18n>Edit project</span>
              </button>
              <button mat-menu-item class="important" (click)="deleteProject(projectWithPriv.project)">
                <span i18n>Delete project</span>
              </button>
            </mat-menu>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <ng-content select=".options"></ng-content>
</section>
