mat-checkbox.mat-checkbox {
  @include typo-body;

  color: var(--color-text);

  label {
    margin-bottom: 1rem;
    white-space: normal;

    .mat-checkbox-inner-container {
      margin: 7px 10px 7px 0;
    }

    .mat-checkbox-label {
      line-height: 1.25rem;
    }
  }

  &.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: var(--color-primary-700);
  }

  &:active:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element,
  &:active.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element,
  &.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element {
    background: var(--color-primary-700);
  }

  &:hover {
    .mat-checkbox-frame {
      background-color: var(--color-input-background-hover);
    }
  }

  .mat-checkbox-frame {
    border-width: 1px;
    border-color: var(--color-input-border);
    background-color: var(--color-input-background);
    transition: background-color 0.2s ease;
  }
}

app-checkbox {
  &.ng-touched.ng-invalid {
    .mat-checkbox-frame {
      border-color: var(--color-red-600);
    }
  }
}
