mat-dialog-container.mat-dialog-container,
app-dialog-outlet {
  padding: 0;
  background-color: var(--color-dialog-background);
  border-radius: var(--border-radius);
  color: var(--color-text);

  >* {
    display: block;
    padding: 2rem;
    border-radius: var(--border-radius);
  }

  .important-dialog {
    border: 2px solid var(--color-dialog-important-border);
  }

  .mat-dialog-title {
    @include typo-heading-5;

    margin-bottom: 1rem;
    font-family: var(--font-family);

    &.important {
      color: var(--color-dialog-important-text);
    }
  }

  .mat-dialog-content {
    @include typo-body;
  }

  .mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
    padding-top: 1.25rem;
    border-top: 1px solid var(--color-dialog-delimiter);
    margin-top: 1.25rem;

    >* {
      margin-left: 1.25rem;
    }
  }
}
