@import '../typography';

table.cdk-table.mat-table {
  width: 100%;
  background-color: transparent;
  border-collapse: separate;
  border-spacing: 0 1rem;
  color: var(--color-text);

  thead {
    .mat-header-row {
      border-top: 1px solid var(--color-table-header-border);
      border-bottom: 1px solid var(--color-table-header-border);

      th {
        @include typo-title;

        /* stylelint-disable-next-line declaration-property-value-disallowed-list */
        border: none;
        color: var(--color-text);
      }
    }
  }

  tbody {
    .mat-row {
      overflow: hidden;
      height: 60px;

      td {
        @include typo-body;

        /* stylelint-disable-next-line declaration-property-value-disallowed-list */
        border: none;
        background-color: var(--color-table-row-background);
        color: var(--color-text);

        &:first-child {
          border-radius: var(--border-radius) 0 0 var(--border-radius);
        }

        &:last-child {
          border-radius: 0 var(--border-radius) var(--border-radius) 0;
        }
      }
    }
  }
}
