<section>
  <div class="logo" routerLink="/"></div>
  <div class="switch-navigation-width"></div>
</section>
<app-nav-element [showOptions]="false" routerLink="/" i18n>Dashboard</app-nav-element>
<app-nav-element [showOptions]="true">
  <div routerLink="/" i18n>Workspaces</div>
  <div class="open-below">
    <ul>
      <app-nav-element-workspace *ngFor="let workspace of workspaceList|async" [workspace]="workspace">
        {{workspace.name}}
      </app-nav-element-workspace>
    </ul>
  </div>
  <div class="options">
    <button mat-menu-item (click)="createWorkspace()">
      <span i18n>Create workspace</span>
    </button>
  </div>
</app-nav-element>
