<section class="logo-section">
  <div class="logo" routerLink="/"></div>
  <app-button class="navigation-collapse-button" variant="transparent" [icon]="faArrowRightArrowLeft"
    (click)="toggle()"></app-button>
</section>

<app-nav-element [showOptions]="false" icon="cuDashboard" routerLink="/dashboard" routerLinkActive="active"
  [collapsed]="isCollapsed" i18n>Dashboard</app-nav-element>
<app-nav-element [showOptions]="false" [icon]="faCalendarDay" routerLink="/calendar" routerLinkActive="active"
  [collapsed]="isCollapsed" i18n>Calendar</app-nav-element>
<app-nav-element [showOptions]="false" [icon]="faMessage" routerLink="/messages" routerLinkActive="active"
  [collapsed]="isCollapsed" i18n>Messages
</app-nav-element>

<app-nav-element [showOptions]="true" [icon]="faLayerGroup" [collapsed]="isCollapsed">
  <div i18n>Workspaces</div>
  <div class="open-below">
    <ul *ngIf="workspaceList$ | async as workspaceList">
      <app-nav-element-workspace *ngFor="let workspace of workspaceList" [workspace]="workspace"
        [collapsed]="isCollapsed">
        {{workspace.name}}
      </app-nav-element-workspace>
      <li *ngIf="!workspaceList.length" class="bg-transparent p-3">
        <app-button [icon]="faPlus" variant="transparent" [routerLink]="['/', 'create']">Create workspace</app-button>
      </li>
    </ul>
  </div>
  <div class="options">
    <button mat-menu-item (click)="createWorkspace()">
      <span i18n>Create workspace</span>
    </button>
    <button mat-menu-item routerLink="/">
      <span i18n>Manage workspaces</span>
    </button>
  </div>
</app-nav-element>
