:root {
  // Neutral
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #e2e2e2;
  --color-neutral-300: #bfbfbf;
  --color-neutral-400: #808080;
  --color-neutral-500: #737373;
  --color-neutral-600: #4d4d4d;
  --color-neutral-700: #262626;
  --color-neutral-800: #06090f;

  // Gray
  --color-gray-100: #c4cad4;
  --color-gray-200: #8995a9;
  --color-gray-300: #566276;
  --color-gray-400: #4a5465;
  --color-gray-500: #364053;
  --color-gray-600: #212839;
  --color-gray-700: #192132;
  --color-gray-800: #111827;

  // Blue
  --color-blue-500: #1c64f2;
  --color-blue-600: #1a56db;
  --color-blue-700: #134fd4;

  // Red
  --color-red-500: #ef4444;
  --color-red-600: #dc2626;
  --color-red-700: #b91c1c;
  --color-red-800: #991b1b;
}
