:root {
  // Neutral
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #e2e2e2;
  --color-neutral-300: #bfbfbf;
  --color-neutral-400: #808080;
  --color-neutral-500: #737373;
  --color-neutral-600: #4d4d4d;
  --color-neutral-700: #262626;
  --color-neutral-800: #06090f;

  // Gray
  --color-gray-100: #c4cad4;
  --color-gray-200: #8995a9;
  --color-gray-300: #566276;
  --color-gray-400: #4a5465;
  --color-gray-500: #364053;
  --color-gray-600: #212839;
  --color-gray-700: #192132;
  --color-gray-800: #111827;

  // Blue
  --color-blue-100: #e8f0fe;
  --color-blue-200: #c0d4fe;
  --color-blue-300: #98b8fe;
  --color-blue-400: #4a83fd;
  --color-blue-500: #1c64f2;
  --color-blue-600: #1a56db;
  --color-blue-700: #134fd4;

  // Red
  --color-red-500: #ef4444;
  --color-red-600: #dc2626;
  --color-red-700: #b91c1c;
  --color-red-800: #991b1b;

  // Green
  --color-green-500: #10b981;
  --color-green-600: #059669;
  --color-green-700: #047857;
  --color-green-800: #065f46;

  // Purple
  --color-purple-100: #f5d0fe;
  --color-purple-200: #f0abfc;
  --color-purple-300: #e879f9;
  --color-purple-400: #d946ef;
  --color-purple-500: #c026d3;
  --color-purple-600: #a21caf;
  --color-purple-700: #86198f;
  --color-purple-800: #701a75;

  // Yellow
  --color-yellow-100: #fffbea;
  --color-yellow-200: #fff3c4;
  --color-yellow-300: #fced9f;
  --color-yellow-400: #f9e16e;
  --color-yellow-500: #f6d047;
  --color-yellow-600: #f5c518;
  --color-yellow-700: #f4b400;
  --color-yellow-800: #f59f00;
}
