body.preload * {
  -webkit-animation-duration: 0s !important;
  animation-duration: 0s !important;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  transition: background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
}
