@use '@angular/material' as mat;

// Global files imports
@import 'colors';
@import 'typography';
@import 'preload';

// @import 'scrollbar';

// Themes imports
@import 'themes/default.theme';
@import 'themes/dark.theme';

// Material overrides
@import 'material/input.material';
@import 'material/select.material';
@import 'material/spinner.material';
@import 'material/table.material';
@import 'material/menu.material';
@import 'material/dialog.material';
@import 'material/typography.material';
@import 'material/checkbox.material';
@import 'material/error-box.material';

// Tailwind dependencies imports
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

app-root {
  display: block;
  width: 100%;
  height: 100%;
}

.w-256 {
  width: 64rem;
}
