@use '@angular/material' as mat;

@import '~monaco-editor/min/vs/editor/editor.main';
@import '~highlight.js/styles/github-dark.css';

// Global files imports
@import 'colors';
@import 'typography';
@import 'preload';

// @import 'scrollbar';

// Themes imports
@import 'themes/default.theme';
@import 'themes/dark.theme';

// Material overrides
@import 'material/input.material';
@import 'material/select.material';
@import 'material/spinner.material';
@import 'material/table.material';
@import 'material/menu.material';
@import 'material/dialog.material';
@import 'material/typography.material';
@import 'material/checkbox.material';
@import 'material/error-box.material';
@import 'material/tooltip.material';

// Elements
@import 'elements/table';

// Tailwind dependencies imports
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  min-height: 100vh;
}

body {
  margin: 0;
}
