div.mat-menu-panel {
  max-width: none;
  background-color: var(--color-menu-background);

  button.mat-menu-item {
    transition: background-color 0.1s;

    span {
      font-family: var(--font-family);
    }

    mat-icon.mat-icon,
    span {
      color: var(--color-text);
    }

    &:hover {
      background-color: var(--color-menu-background-hover);
    }

    &[disabled] {

      mat-icon.mat-icon,
      span {
        opacity: 0.5;
      }
    }

    &.important {
      span {
        color: var(--color-menu-background-important);
      }
    }
  }
}
