@import '../../../../styles/typography';

:host {
  display: block;
  cursor: move;
}

.task {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: var(--color-board-task-background);
  border-radius: var(--border-radius);
  transition: background-color 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    background-color: var(--color-board-task-background-hover);
    box-shadow: 0 0 0.5rem 0.01rem rgb(0 0 0 / 10%);
  }

  .top-section {
    display: flex;

    >* {
      width: 50%;
    }

    .assignees {
      .assignee {
        $size: 32px;

        @include typo-heading-5;

        display: flex;
        width: #{$size};
        height: #{$size};
        align-items: center;
        justify-content: center;
        background-color: #0a95d0;
        border-radius: calc($size / 2);
        color: var(--color-text);
      }
    }

    .deadline {
      color: var(--color-text);

      .title {
        @include typo-body;
      }

      .value {
        @include typo-title;
      }
    }
  }

  .name {
    @include typo-body;

    margin-top: 1rem;
    color: var(--color-text);
  }

  .options {
    position: absolute;
    right: 5px;
    color: #fff;
  }

  .commit {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 0 0.5rem;
    color: var(--color-text);
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.5s ease;

    &:hover {
      opacity: 1;
    }
  }

  .actions {
    display: flex;
    width: 100%;
    justify-content: flex-end;

    >* {
      display: flex;
      margin-left: 1rem;
      color: var(--color-text);
      cursor: pointer;
      opacity: 0.5;
      transition: opacity 0.2s ease;

      &:hover {
        opacity: 1;
      }

      .check {
        margin-left: 5px;
        color: #2ecc71;
      }
    }
  }
}
