<div class="task">
  <div class="top-section">
    <div class="assignees">
      <div class="assignee">R</div>
    </div>
    <div class="deadline">
      <div class="title">Due date</div>
      <div class="value">29.04.2022r.</div>
    </div>
  </div>
  <div class="name">{{ task?.name }}</div>
  <div class="options">
    <button mat-icon-button [matMenuTriggerFor]="menu" class="flex items-center">
      <app-icon icon="matMoreVert"></app-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <span>Edit task</span>
      </button>
      <button mat-menu-item class="important">
        <span>Delete task</span>
      </button>
    </mat-menu>
  </div>
</div>