<div *ngIf="task" class="task">
  <div class="top-section">
    <div class="assignees">
      <div class="assignee">R</div>
    </div>
    <div *ngIf="task.deadline" class="deadline">
      <div class="title" i18n>Due date</div>
      <div class="value">29.04.2022r.</div>
    </div>
  </div>
  <div class="name">{{ task?.name }}</div>
  <div class="actions">
    <a *ngIf="task.issue" [href]="task.issue">
      <app-icon [icon]="faCodeCommit" size="14px"></app-icon>
    </a>
    <a *ngIf="task.pull" [href]="task.pull">
      <app-icon [icon]="faCodePullRequest" size="14px"></app-icon>
    </a>
    <a *ngIf="task.mergedPullList" [href]="task.mergedPullList[0]">
      <app-icon [icon]="faCodePullRequest" size="14px"></app-icon>
      <app-icon class="check" [icon]="faCheck" size="14px"></app-icon>
    </a>
  </div>
  <div class="options">
    <button mat-icon-button [matMenuTriggerFor]="menu" class="flex items-center">
      <app-icon icon="matMoreVert"></app-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="edit()">
        <span i18n>Edit task</span>
      </button>
      <button mat-menu-item (click)="createSubtask()">
        <span i18n>Create subtask</span>
      </button>
      <button mat-menu-item class="important" (click)="delete()">
        <span i18n>Delete task</span>
      </button>
    </mat-menu>
  </div>
</div>
