.markdown-preview {
  color: var(--color-text);

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.8em;
  }

  h3 {
    font-size: 1.6em;
  }

  h4 {
    font-size: 1.4em;
  }

  h5 {
    font-size: 1.2em;
  }

  h6 {
    font-size: 1em;
  }

  hr {
    margin: 1rem 0;
    opacity: 0.5;
  }

  blockquote {
    display: inline-block;
    padding-left: 1rem;
    border-left: 2px solid var(--color-secondary-200);
  }

  ul,
  ol,
  menu {
    padding-left: 40px;
    margin: 10px 0;
    list-style: initial;
  }

  ol {
    list-style: decimal;
  }

  a {
    color: var(--color-purple-300);
    text-decoration: underline;
  }

  code {
    display: inline-block;
    padding: 0.2rem 0.5rem;
    background-color: var(--color-secondary-600);
    border-radius: 2px;
  }

  table {

    td,
    th {
      padding: 0.5rem;
      border: 0.1rem solid var(--color-secondary-600);
    }
  }

  .emoji {
    display: inline-block;
  }
}
