:host {
  width: 100%;
  color: var(--color-text);
}

section {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.logo {
  width: 2.5rem;
  height: 2.5rem;
  background-size: contain;
  border-radius: var(--border-radius);
  margin-right: 1rem;
}
