<section *ngIf="project">
  <div class="flex items-center">
    <div class="flex items-center">
      <div *ngIf="project?.logo" class="logo" [style.background-image]="'url(' + project.logo?.url + ')'"></div>
      <h2 class="text-xl font-bold">{{project.name}}</h2>
      <a *ngIf="project.gitHubIntegration" href="https://github.com/{{ project.gitHubIntegration }}" target="blank">
        <app-icon [icon]="faGithub"></app-icon>
      </a>
    </div>
    <tabs class="ml-3">
      <tab [routerLink]="['/', 'projects', projectId, 'sprint']" [queryParams]="{ view: 'list' }"
        routerLinkActive="active" i18n>
        Sprint
      </tab>
      <tab [routerLink]="['/', 'projects', projectId, 'backlog']" [queryParams]="{ view: 'list' }"
        routerLinkActive="active" i18n>
        Backlog
      </tab>
      <tab [routerLink]="['/', 'projects', projectId, 'calendar']" routerLinkActive="active" i18n>
        Calendar
      </tab>
    </tabs>
  </div>
  <div class="options">
    <app-button variant="transparent" [icon]="penToSquare" [routerLink]="['/', 'projects', projectId, 'edit']" i18n>Edit
    </app-button>
  </div>
</section>
