@import '../../../../styles/typography';

:host {
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1;

  &.important {
    .card {
      border: 1px solid var(--color-red-700);
    }

    .card-header-wrapper {
      color: var(--color-red-700);
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  padding: 25px;
  border: 1px solid var(--color-secondary-500);
  border-radius: var(--border-radius);
}

.card-header-wrapper {
  @include text-title;

  margin-bottom: 7px;
  color: var(--color-text);
}

.card-content-wrapper {
  @include text-base;

  margin-bottom: 15px;
  color: var(--color-text);
  opacity: 0.7;
}

.card-actions-wrapper {
  @include text-base;

  color: var(--color-text);
}
