<main>
  <h2 class="text-xl font-bold mb-5">Github</h2>

  <app-card>
    <div class="card-content">
      <!-- If GitHub account does not exist show Connect to GitHub button -->
      <ng-container *ngIf="((gitHubAccounts$ | async) || []).length === 0">
        <p i18n>You are not connected to any GitHub account. You need to connect to GitHub first.</p>
      </ng-container>
      <ng-container *ngIf="((gitHubAccounts$ | async) || []).length! > 0">
        <p i18n>Note: You need to authorize repositories to be able to use them in your integrations.</p>
      </ng-container>
    </div>
    <div class="card-actions flex justify-end">
      <app-button *ngIf="((gitHubAccounts$ | async) || []).length === 0" (click)="connectGitHubAccount()" type="button"
        variant="secondary" i18n>Connect GitHub account</app-button>
      <app-button *ngIf="((gitHubAccounts$ | async) || []).length! > 0" (click)="manageRepositories()" type="button"
        variant="secondary" i18n>Configure Repositories</app-button>
    </div>
  </app-card>

  <form [formGroup]="form" autocomplete="off" class="mt-4">

    <!-- Repository select -->
    <ng-container *ngIf="!loader.pending">
      <app-select formControlName="repository" floatingLabel="Repository" i18n-floatingLabel>
        <app-option *ngFor="let repository of repositories" [value]="repository.fullName"
          [icon]="repository.private ? faLock : faGlobe" class="repository-option">
          <span class="opacity-50">@</span>
          {{repository.fullName.split('/')[0]}}
          <span class="opacity-50">/</span>
          {{repository.fullName.split('/')[1]}}
        </app-option>
      </app-select>
    </ng-container>

  </form>
</main>
