<app-view-options [project]="(project$ | async)!"></app-view-options>

<form [formGroup]="form" (submit)="submitUpdate()">
  <div>
    <h2 class="typo-heading-5 mb-5" i18n>Edit project: {{ (project$ | async)?.name }}</h2>
    <app-input formControlName="name" type="text" placeholder="New project" floatingLabel="Project name"
      i18n-floatingLabel i18n-placeholder></app-input>
  </div>

  <div>
    <h2 class="typo-heading-5 mb-5" i18n>Workspace:</h2>
    <app-select formControlName="newWorkspaceId" floatingLabel="Workspace" i18n-floatingLabel>
      <app-option *ngFor="let workspace of workspaceList$ | async" [value]="workspace.id">{{ workspace.name }}
      </app-option>
    </app-select>
  </div>

  <div class="modules">
      <h2 class="typo-heading-5 mb-5" i18n>Modules</h2>
  </div>
  <app-integration-github [projectId]="projectId"></app-integration-github>
  <div class="app-button">
    <app-button variant="primary" [pending]="updateSubscription && !updateSubscription.closed" i18n>Save</app-button>
  </div>
</form>
