:host {
  display: block;
  padding: 2rem;
}

form {
  padding-left: 10px;

  &>*:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.buttons {
  display: flex;
  margin-top: 1rem;

  &>* {
    display: block;
    margin-right: 1rem;
  }
}
