<form [formGroup]="form" (submit)="submitUpdate()">
  <div>
    <h2 class="typo-heading-5 mb-5" i18n>Edit project: {{ project$ | async }}</h2>
    <app-input formControlName="name" type="text" placeholder="New project" floatingLabel="Project name"
      i18n-floatingLabel i18n-placeholder></app-input>
  </div>
  <div class="modules">
    <h2 i18n>Modules</h2>
  </div>
  <app-integration-github [projectId]="projectId"></app-integration-github>

  <app-button variant="primary" [pending]="updateSubscription && !updateSubscription.closed" i18n>Save</app-button>
</form>
