<app-landing-page-nav></app-landing-page-nav>
<section class="main">
  <section class="headline shadow">
    <div class="app-adv">
      <h1 class="text-10xl font-bold text-center" i18n>Clean and powerful task management software</h1>
      <h2 class="text-2xl text-center" i18n>Vernite will help you managing your work and personal projects. It's built
        for
        productive people.</h2>
    </div>
    <div class="buttons">
      <app-button variant="primary" type="button" routerLink="/auth/register">
        <span i18n>Register for free</span>
      </app-button>
    </div>
  </section>
  <section class="screens shadow">
    <app-landing-page-carousel></app-landing-page-carousel>
  </section>
  <section class="functions">
    <div class="cards">
      <div class="card">
        <div class="card-header">
          <app-icon class="text-title" icon="cuDashboard" size="1rem"></app-icon>
          <span class="text-title">Multiple workspace workflow </span>
        </div>
        <p class="card-content text-base">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
          make a type specimen book.
        </p>
      </div>
      <div class="card">
        <div class="card-header">
          <app-icon class="text-title" icon="cuDashboard" size="1rem"></app-icon>
          <span class="text-title">Multiple workspace workflow </span>
        </div>
        <p class="card-content text-base">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
          make a type specimen book.
        </p>
      </div>
      <div class="card">
        <div class="card-header">
          <app-icon class="text-title" icon="cuDashboard" size="1rem"></app-icon>
          <span class="text-title">Multiple workspace workflow </span>
        </div>
        <p class="card-content text-base">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
          make a type specimen book.
        </p>
      </div>
      <div class="card">
        <div class="card-header">
          <app-icon class="text-title" icon="cuDashboard" size="1rem"></app-icon>
          <span class="text-title">Multiple workspace workflow </span>
        </div>
        <p class="card-content text-base">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
          make a type specimen book.
        </p>
      </div>
      <div class="card">
        <div class="card-header">
          <app-icon class="text-title" icon="cuDashboard" size="1rem"></app-icon>
          <span class="text-title">Multiple workspace workflow </span>
        </div>
        <p class="card-content text-base">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
          make a type specimen book.
        </p>
      </div>
      <div class="card">
        <div class="card-header">
          <app-icon class="text-title" icon="cuDashboard" size="1rem"></app-icon>
          <span class="text-title">Multiple workspace workflow </span>
        </div>
        <p class="card-content text-base">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
          make a type specimen book.
        </p>
      </div>
    </div>
  </section>
  <footer class="footer">
    <span class="text-base">&copy; Aleksandra Serba, Adrian Antkowiak, Bartosz Wawrzyniak, Marcin Czerniak</span>
  </footer>
</section>