<app-landing-page-nav></app-landing-page-nav>
<section class="main">
  <section>
    <div class="app-adv">
      <h1 class="text-10xl font-bold text-center" i18n>Clean and powerful task management software</h1>
      <h2 class="text-2xl text-center" i18n>Vernite will help you managing your work and personal projects. It's built
        for
        productive people.</h2>
    </div>
    <div class="buttons">
      <app-button variant="primary" type="button" routerLink="/auth/register">
        <span i18n>Register for free</span>
      </app-button>
    </div>
  </section>
  <section class="app-screens">

  </section>
  <section class="app-functions">

  </section>
  <div class="footer">

  </div>
</section>