<app-landing-page-nav></app-landing-page-nav>
<section class="main">
  <section class="headline shadow">
    <div class="app-adv">
      <h1 class="text-10xl font-bold text-center" i18n>Clean and powerful task management software</h1>
      <h2 class="text-2xl text-center" i18n>Vernite will help you managing your work and personal projects. It's built
        for productive people.</h2>
    </div>
    <div class="buttons">
      <app-button variant="primary" type="button" routerLink="/auth/register">
        <span i18n>Register for free</span>
      </app-button>
    </div>
  </section>
  <section class="screens shadow">
    <app-landing-page-carousel></app-landing-page-carousel>
  </section>
  <section class="functions">
    <div class="cards">
      <div class="card">
        <div class="card-header">
          <app-icon class="text-title" [icon]="faSlack" size="1rem"></app-icon>
          <span class="text-title" i18n>Slack and GitHub Integration</span>
        </div>
        <p class="card-content text-base" i18n>
          Vernite seamlessly integrates with Slack and GitHub to streamline communication and task management for your
          team.
        </p>
      </div>
      <div class="card">
        <div class="card-header">
          <app-icon class="text-title" [icon]="faCalendarAlt" size="1rem"></app-icon>
          <span class="text-title" i18n>Calendar and iCalendar Export</span>
        </div>
        <p class="card-content text-base" i18n>
          The built-in calendar feature allows you to easily schedule and track deadlines, and can even be exported
          using the iCalendar protocol.
        </p>
      </div>
      <div class="card">
        <div class="card-header">
          <app-icon class="text-title" [icon]="faSitemap" size="1rem"></app-icon>
          <span class="text-title" i18n>SCRUM Optimized</span>
        </div>
        <p class="card-content text-base" i18n>
          Vernite's focus on the SCRUM methodology makes it a great tool for agile development teams looking to improve
          their workflow.
        </p>
      </div>
      <div class="card">
        <div class="card-header">
          <app-icon class="text-title" [icon]="faTasks" size="1rem"></app-icon>
          <span class="text-title" i18n>Task Management</span>
        </div>
        <p class="card-content text-base" i18n>
          With Vernite, you can easily assign tasks to team members, set priorities, and track progress in real-time.
        </p>
      </div>
      <div class="card">
        <div class="card-header">
          <app-icon class="text-title" [icon]="faGithub" size="1rem"></app-icon>
          <span class="text-title" i18n>Link Tasks to GitHub</span>
        </div>
        <p class="card-content text-base" i18n>
          Vernite's integration with GitHub allows you to link tasks to specific Github issues and pull requests, giving
          you the ability to track and manage the development process in one place.
        </p>
      </div>
      <div class="card">
        <div class="card-header">
          <app-icon class="text-title" [icon]="faColumns" size="1rem"></app-icon>
          <span class="text-title" i18n>User-Friendly Interface</span>
        </div>
        <p class="card-content text-base" i18n>
          Vernite's user-friendly interface makes it easy for team members to stay on top of their tasks and stay
          organized, even in fast-paced environments.
        </p>
      </div>
    </div>
  </section>
  <footer class="footer">
    <span class="text-base">&copy; Aleksandra Serba, Adrian Antkowiak, Bartosz Wawrzyniak, Marcin Czerniak</span>
  </footer>
</section>