.avatar-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

.avatar {
  display: flex;
  width: 2rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: 600;
}

.prefix .avatar {
  width: 1.5rem;
  height: 1.5rem;
}

.details {
  display: flex;
  flex-direction: column;

  .username {
    opacity: 0.5;
  }
}

app-option ::ng-deep {
  height: 56px;
}
