<section class="main">
  <section class="box">
    <section class="form-side">
      <div class="logo" routerLink="/"></div>
      <form [formGroup]="form" (submit)="setNewPassword()">
        <div>
          <h2 class="typo-heading-5" i18n>Reset password</h2>
          <p class="typo-body" i18n>Enter your new password.</p>
        </div>

        <app-input formControlName="password" type="password" placeholder="●●●●●●●" floatingLabel="Password" i18n-floatingLabel i18n-placeholder></app-input>

        <app-input formControlName="repeatPassword" type="password" placeholder="●●●●●●●" floatingLabel="Repeat password" i18n-floatingLabel i18n-placeholder></app-input>

        <app-button variant="primary" i18n>Set new password</app-button>

      </form>
    </section>
    <section class="image-side">

    </section>
  </section>
</section>
