<app-landing-page-nav></app-landing-page-nav>
<section class="main">
  <section>
    <div class="app-adv">
      <h1 class="text-5xl font-bold" i18n>Clean and powerful task management software</h1>
      <h2 class="text-2xl" i18n>Vernite will help you managing your work and personal projects. It's built for productive people.</h2>
    </div>
    <div class="buttons">
      <a class="navigate-button" routerLink="/auth/register">
        <span i18n>Go to registration page</span>
      </a>
      <a class="navigate-button" routerLink="/auth/login">
        <span i18n>Go to login page</span>
      </a>
    </div>
  </section>
  <section class="app-screens">

  </section>
  <section class="app-functions">

  </section>
  <div class="footer">

  </div>
</section>
