{
  "root": true,
  "ignorePatterns": [
    "projects/**/*"
  ],
  "overrides": [
    {
      "files": [
        "*.ts",
        "*.mjs",
        "*.js",
        "*.jsx",
        "*.tsx"
      ],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "project": [
          "./.config/tsconfig.json"
        ],
        "createDefaultProgram": true
      },
      "extends": [
        "plugin:@angular-eslint/recommended",
        "plugin:@angular-eslint/template/process-inline-templates",
        "plugin:prettier/recommended",
        "plugin:storybook/recommended"
      ],
      "plugins": [
        "@typescript-eslint",
        "@ngneat/reactive-forms",
        "unused-imports"
      ],
      "rules": {
        "@angular-eslint/no-empty-lifecycle-method": "warn",
        "comma-dangle": [
          "error",
          "always-multiline"
        ],
        "@typescript-eslint/comma-dangle": [
          "error",
          "only-multiline"
        ],
        "storybook/prefer-pascal-case": "off",
        "no-unused-vars": "off",
        "unused-imports/no-unused-imports": "error",
        "unused-imports/no-unused-vars": [
          "warn",
          {
            "vars": "all",
            "varsIgnorePattern": "^_",
            "args": "after-used",
            "argsIgnorePattern": "^_"
          }
        ],
        "@ngneat/reactive-forms/no-angular-forms-imports": "error"
      }
    },
    {
      "files": [
        "*.html"
      ],
      "extends": [
        "plugin:@angular-eslint/template/recommended"
      ],
      "rules": {
        "@angular-eslint/template/i18n": [
          "warn",
          {
            "checkId": false,
            "checkText": true,
            "checkAttributes": true,
            "requireDescription": false,
            "ignoreAttributes": [
              "variant",
              "routerLinkActive",
              "matColumnDef",
              "theme",
              "rel",
              "http-equiv",
              "name",
              "autocomplete",
              "icon",
              "comparer",
              "align",
              "data-custom-class",
              "fragment",
              "accept"
            ]
          }
        ]
      }
    }
  ],
  "rules": {
    "@angular-eslint/component-class-suffix": [
      "error",
      {
        "suffixes": [
          "Component",
          "Page",
          "Dialog"
        ]
      }
    ]
  }
}