<form [formGroup]="form" (submit)="submitUpdate()">
  <h2 class="text-xl font-bold mb-5" i18n>Edit workspace: {{ (workspace$ | async)?.name }}</h2>
  <app-input formControlName="name" type="text" placeholder="New workspace" floatingLabel="Workspace name"
    i18n-floatingLabel i18n-placeholder></app-input>

  <div class="buttons">
    <app-button variant="primary" [pending]="updateSubscription && !updateSubscription.closed" i18n>Save</app-button>
    <app-button variant="secondary" type="button" routerLink="/" i18n>Cancel</app-button>
  </div>
</form>
