@import '../../../../styles/typography';

:host {
  display: block;
  padding: 2rem;
}

.table {
  width: 100%;
}

.table .row .cell .status {
  @include typo-title;

  display: flex;
  width: 100%;
  max-width: 250px;
  height: 100%;
  height: 40px;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  margin: 0 1rem;
  background-color: var(--color-secondary-400);
  border-radius: var(--border-radius);
}

.task-title {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;

  app-icon {
    margin-right: 1.5rem;
    opacity: 0.5;
  }
}

.expanded~.subtasks {
  display: block;
}

.subtasks {
  position: relative;
  display: none;
  padding-left: 4rem;

  .row {
    position: relative;

    &::before,
    &::after {
      position: absolute;
      top: 0;
      left: -2.5rem;
      display: block;
      content: '';
    }

    &:not(:last-child)::before {
      width: 2px;
      height: calc(100% + 1rem);
      background-color: var(--color-secondary-400);
    }

    &::after {
      width: 29px;
      height: 29px;
      border: 2px solid var(--color-secondary-400);
      border-top-width: 0;
      border-right-width: 0;
      border-bottom-left-radius: 50%;
    }
  }
}

.row {
  &.expanded {
    .task-title app-icon {
      transform: rotate(90deg);
    }
  }
}
