@import '../../../../styles/typography';

:host {
  display: block;
  padding: 2rem;
}

.table {
  width: 100%;
}

.table .row .cell .status {
  @include typo-title;

  display: flex;
  width: 100%;
  max-width: 250px;
  height: 100%;
  height: 40px;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  margin: 0 1rem;
  background-color: var(--color-secondary-400);
  border-radius: var(--border-radius);
}

.task-title {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;

  .task-id {
    display: block;
    margin-right: 1rem;
    opacity: 0.5;
  }

  .task-property {
    display: flex;
    margin-left: 1rem;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 1;
    }

    .check {
      margin-left: 5px;
      color: #2ecc71;
    }
  }

  >app-icon {
    margin-right: 1.5rem;
    opacity: 0.5;
  }
}

.subtasks {
  position: relative;
  overflow: hidden;
  max-height: 0;
  padding-left: 4rem;
  transition: max-height 0.4s ease;

  .subtask-title {
    display: flex;
  }

  .subtask-id {
    display: block;
    margin-right: 1rem;
    opacity: 0.5;
  }

  .row {
    position: relative;

    &::before,
    &::after {
      position: absolute;
      top: 0;
      left: -2.5rem;
      display: block;
      content: '';
    }

    &:last-child {
      margin-bottom: 1rem;
    }

    &:not(:last-child)::before {
      width: 2px;
      height: calc(100% + 1rem);
      background-color: var(--color-secondary-400);
    }

    &::after {
      width: 29px;
      height: 29px;
      border: 2px solid var(--color-secondary-400);
      border-top-width: 0;
      border-right-width: 0;
      border-bottom-left-radius: 50%;
    }
  }
}

.row {
  &.expanded {
    .task-title>app-icon {
      transform: rotate(90deg);
    }
  }
}
