<app-view-options [project]="(project$ | async)!"></app-view-options>

<!-- Table -->
<div class="table">

  <!-- Header -->
  <div class="header-row">
    <div class="header-cell w-full">Title</div>
    <div class="header-cell w-52">Status</div>
    <div class="header-cell w-52">Assignee</div>
    <div class="header-cell w-52">Deadline</div>
    <div class="header-cell action">
      <!-- Actions -->
    </div>
  </div>

  <!-- Body -->
  <ng-container *ngFor="let task of taskList$ | async">
    <div class="row" [class.expanded]="expandedSubtasks.has(task.id)" (click)="expandedSubtasks.toggle(task.id)">

      <!-- Title cell -->
      <div class="cell w-full">
        <div class="task-title">
          <app-icon [icon]="faChevronRight" size="16px" [class.invisible]="!task.subTasks?.length"></app-icon>
          <span class="task-id">#{{ task.id }}</span>
          <span>{{ task.name }}</span>
          <a *ngIf="task.issue" [href]="task.issue" class="task-property" target="_blank" matTooltip="GitHub issue"
            i18n-matTooltip>
            <app-icon [icon]="faCodeCommit" size="14px"></app-icon>
          </a>
          <a *ngIf="task.pull" [href]="task.pull" class="task-property" target="_blank" matTooltip="GitHub pull request"
            i18n-matTooltip>
            <app-icon [icon]="faCodePullRequest" size="14px"></app-icon>
          </a>
          <a *ngIf="task.mergedPullList" [href]="task.mergedPullList[0]" class="task-property" target="_blank"
            matTooltip="GitHub pull request" i18n-matTooltip>
            <app-icon [icon]="faCodePullRequest" size="14px"></app-icon>
            <app-icon class="check" [icon]="faCheck" size="14px"></app-icon>
          </a>
        </div>
      </div>

      <!-- Status cell -->
      <div class="cell w-52 p-0">
        <div class="status">{{ task.statusId && getStatus(task.statusId) }}</div>
      </div>

      <!-- Assignee cell -->
      <div class="cell w-52">-</div>

      <!-- Deadline cell -->
      <div class="cell w-52">{{changeDate(task.deadline)}}</div>

      <!-- Actions cell -->
      <div class="cell action justify-center">
        <button mat-icon-button click-stop-propagation [matMenuTriggerFor]="menu" class="flex items-center">
          <app-icon icon="matMoreVert"></app-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="editTask(task)">
            <span i18n>Edit task</span>
          </button>
          <button mat-menu-item (click)="createSubtask(task)">
            <span i18n>Create subtask</span>
          </button>
          <button mat-menu-item (click)="deleteTask(task)" class="important">
            <span i18n>Delete task</span>
          </button>
        </mat-menu>
      </div>
    </div>
    <div #subtasks class="subtasks" [style.maxHeight]="getSubtasksContainerHeight(task.id, subtasks)">
      <div *ngFor="let subtask of task.subTasks" class="row">

        <!-- Title cell -->
        <div class="cell w-full">
          <div class="subtask-title">
            <span class="subtask-id">#{{ subtask.id }}</span>
            <span>{{ subtask.name }}</span>
            <a *ngIf="subtask.issue" [href]="subtask.issue" class="task-property" target="_blank"
              matTooltip="GitHub issue" i18n-matTooltip>
              <app-icon [icon]="faCodeCommit" size="14px"></app-icon>
            </a>
            <a *ngIf="subtask.pull" [href]="subtask.pull" class="task-property" target="_blank"
              matTooltip="GitHub pull request" i18n-matTooltip>
              <app-icon [icon]="faCodePullRequest" size="14px"></app-icon>
            </a>
            <a *ngIf="subtask.mergedPullList" [href]="subtask.mergedPullList[0]" class="task-property" target="_blank"
              matTooltip="GitHub pull request" i18n-matTooltip>
              <app-icon [icon]="faCodePullRequest" size="14px"></app-icon>
              <app-icon class="check" [icon]="faCheck" size="14px"></app-icon>
            </a>
          </div>
        </div>

        <!-- Status cell -->
        <div class="cell w-52 p-0">
          <div class="status">{{ subtask.statusId && getStatus(subtask.statusId) }}</div>
        </div>

        <!-- Assignee cell -->
        <div class="cell w-52">-</div>

        <!-- Deadline cell -->
        <div class="cell w-52">-</div>

        <!-- Actions cell -->
        <div class="cell action justify-center">
          <button mat-icon-button click-stop-propagation [matMenuTriggerFor]="menu" class="flex items-center">
            <app-icon icon="matMoreVert"></app-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="editTask(subtask)">
              <span i18n>Edit task</span>
            </button>
            <button mat-menu-item (click)="createSubtask(subtask)">
              <span i18n>Create subtask</span>
            </button>
            <button mat-menu-item (click)="deleteTask(subtask)" class="important">
              <span i18n>Delete task</span>
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
  </ng-container>
</div>
