:host {
  display: block;
  padding: 2rem;
}

.status {
  display: flex;
  width: calc(100% - 1rem);
  max-width: 250px;
  height: 100%;
  justify-content: center;
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: var(--color-secondary-400);
  border-radius: var(--border-radius);
  font-weight: bold;
}

.task-title {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;

  app-icon {
    margin-right: 1.5rem;
    opacity: 0.5;
  }
}

.subtask-row {
  position: relative;

  >td[mat-cell] {
    padding-right: 0;
    padding-left: 4rem;
    background-color: transparent;

    &:hover {
      background-color: transparent;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 2rem;
      display: block;
      width: 2px;
      height: calc(100% - 3rem);
      background-color: var(--color-secondary-400);
      border-radius: 1px;
      content: '';
    }
  }
}

.element-row {
  &.expanded {
    .task-title app-icon {
      transform: rotate(90deg);
    }
  }
}

.subtask-row:not(.expanded) {
  display: none;
}
