<section *ngIf="project">
  <div *ngIf="inSprint" class="tabs">
    <a [routerLink]="['/', 'projects', projectId, 'sprint']" [queryParams]="{ view: 'list' }" routerLinkActive="active">
      <h2 i18n>List</h2>
    </a>
    <a [routerLink]="['/', 'projects', projectId, 'sprint']" [queryParams]="{ view: 'board' }" routerLinkActive="active">
      <h2 i18n>Board</h2>
    </a>
  </div>
  <div *ngIf="!inSprint">
    <app-button (click)="openDialog()" i18n>Create New Sprint</app-button>
  </div>
  <div class="options">
    <div class="options-element">
      <app-icon (click)="isFiltersOpen = !isFiltersOpen" [icon]="filter" size="16px"></app-icon>
      <h2 (click)="isFiltersOpen = !isFiltersOpen" i18n>Filters</h2>
      <div [class.hidden]="!isFiltersOpen" class="overlay">
        <app-filters [formControl]="filtersControl" [filters]="filters"></app-filters>
      </div>
    </div>
  </div>
</section>
