:host {
  width: 100%;
  align-items: center;
  color: var(--color-text);
}

section {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;

  .tabs {
    display: flex;
    padding: 0 2rem;

    .project-name {
      display: flex;
      align-items: center;
      padding: 10px;
      margin-right: 10px;

      a {
        padding: 0;
        margin-left: 1rem;
      }
    }

    a {
      position: relative;
      display: block;
      padding: 10px 10px 15px 10px;
      margin-right: 10px;
      color: var(--color-neutral-300);
      cursor: pointer;

      &:hover {
        color: var(--color-text);
      }

      &.active {
        color: var(--color-text);

        &::before {
          position: absolute;
          bottom: 10px;
          left: 5px;
          width: calc(100% - 10px);
          height: 2px;
          background-color: var(--color-primary-700);
          border-radius: var(--border-radius);
          content: '';
        }
      }
    }
  }

  .options {
    display: flex;
    height: 100%;
    align-items: center;

    .options-element {
      position: relative;
      display: flex;
      align-items: center;
      padding: 10px;
      color: var(--color-neutral-300);
      cursor: pointer;

      app-icon {
        display: flex;
        align-items: center;
        padding-right: 10px;
      }

      &:hover {
        color: var(--color-text);
      }

      .overlay {
        position: absolute;
        z-index: 150;
        right: 0;
        bottom: 0;
        width: 200px;
        padding: 1rem;
        background-color: var(--color-secondary-600);
        border-radius: var(--border-radius);
        transform: translateY(100%);
      }
    }
  }
}
