.logo {
  width: calc(100% - 80px);
  height: 64px;
  margin-top: 20px;
  background-image: url('/assets/metadata/logo_with_name.svg');
  background-position: 0 50%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.main {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: var(--color-neutral-800);

  .box {
    display: flex;
    width: 100%;
    height: 100%;

    .form-side {
      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: column;
      align-items: center;
      padding: 4rem;
      background-color: var(--color-gray-800);

      h2 {
        margin-bottom: 0.5rem;
      }

      p {
        margin-bottom: 1.5rem;
      }

      app-input {
        width: 100%;
      }

      app-button {
        align-self: flex-end;
      }

      a {
        color: var(--color-link);
        cursor: pointer;
        transition: color 0.2s ease;

        &:hover {
          color: var(--color-link-hover);
        }
      }
    }

    .image-side {
      background-color: var(--color-gray-700);
    }
  }
}

@screen sm {
  .main {
    .box {
      width: 500px;
      height: 770px;

      .form-side {
        width: 500px;
      }

      .image-side {
        width: 0;
      }
    }
  }
}

@screen md {
  .main {
    .box {
      width: 500px;
      height: 770px;

      .form-side {
        width: 500px;
      }

      .image-side {
        width: 0;
      }
    }
  }
}

@screen lg {
  .main {
    .box {
      width: 950px;
      height: 770px;

      .form-side {
        width: 500px;
      }

      .image-side {
        width: 450px;
      }
    }
  }
}

@screen xl {
  .main {
    .box {
      width: 1240px;
      height: 770px;

      .form-side {
        width: 520px;
      }

      .image-side {
        width: 720px;
      }
    }
  }
}
