:host {
  display: block;
  padding: 2rem;
}

form {
  padding-left: 10px;
}

.button {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-top: -60px;
  margin-bottom: 20px;
}

.app-member-list {
  padding-left: 10px;
}

.app-button {
  display: flex;
  margin-top: 2rem;
}
