<div *ngFor="let weekdayShort of weekdaysShort" class="cell week-name-cell">{{ weekdayShort }}</div>
<div *ngFor="let day of days" class="cell" [class.today]="day.date.isToday()"
  [class.current-month]="day.date.isBetween(firstDay, lastDay)">
  <p class="day">
    <span>{{ day.date | dayjsFormat:'D' }}</span>
  </p>
  <div class="events">
    <div class="task" *ngFor="let task of day.tasks"
      [style.background-color]="(task.type | taskType:'color').rgb().toString()">
      {{ task.name }}
    </div>
  </div>
</div>
