:host {
  display: block;
  margin-top: -2rem;
}

tr {
  position: relative;

  &::before {
    position: absolute;
    top: 50%;
    left: -2rem;
    display: block;
    width: 1rem;
    height: 1rem;
    border: 2px solid var(--color-secondary-400);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-left-radius: 0.75rem;
    content: '';
    transform: translateY(calc(-100% + 1px));
  }
}

.status {
  display: flex;
  max-width: 250px;
  height: 100%;
  justify-content: center;
  padding: 8px 0;
  margin: 8px 0;
  background-color: var(--color-secondary-400);
  border-radius: var(--border-radius);
  font-weight: bold;
}

.fully-hidden {
  overflow: hidden;
  height: 0;
  padding: 0;
  margin: 0;
  border-spacing: 0;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
}
