<mat-table *ngIf="tasks && statusListLoaded" [dataSource]="tasks">

  <!-- Name column -->
  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef i18n>Title</mat-header-cell>
    <mat-cell *matCellDef="let task">
      <div class="task-title">
        <app-icon *ngIf="task.subTasks.length" [icon]="faDiagramNext" size="16px"></app-icon>
        <span>{{ task.name }}</span>
      </div>
    </mat-cell>
  </ng-container>

  <!-- Status column -->
  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef i18n>Status</mat-header-cell>
    <mat-cell *matCellDef="let task">
      <div class="status">
        {{ getStatus(task.statusId) }}
      </div>
    </mat-cell>
  </ng-container>

  <!-- Last update column -->
  <ng-container matColumnDef="assignee">
    <mat-header-cell *matHeaderCellDef i18n>Assignee</mat-header-cell>
    <mat-cell *matCellDef="let task"> - </mat-cell>
  </ng-container>

  <!-- Deadline column -->
  <ng-container matColumnDef="deadline">
    <mat-header-cell *matHeaderCellDef i18n>Deadline</mat-header-cell>
    <mat-cell *matCellDef="let task">{{task.deadline | date:'dd.MM.yyyy'}}</mat-cell>
  </ng-container>

  <!-- Actions column -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef i18n></mat-header-cell>
    <mat-cell *matCellDef="let task" class="action-cell">
      <button mat-icon-button [matMenuTriggerFor]="menu" class="flex items-center">
        <app-icon icon="matMoreVert"></app-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <span i18n>Edit task</span>
        </button>
        <button mat-menu-item class="important">
          <span i18n>Delete task</span>
        </button>
      </mat-menu>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="['title', 'status', 'assignee', 'deadline', 'actions']" class="fully-hidden">
  </mat-header-row>
  <mat-row *matRowDef="let row; columns: ['title', 'status', 'assignee', 'deadline', 'actions'];"></mat-row>
</mat-table>
