<section class="main">
  <section class="box">
    <section class="form-side">
      <div class="logo" routerLink="/"></div>
      <form>
        <div>
          <h2 class="typo-heading-5" i18n>Restore account</h2>
          <p class="typo-body" i18n>Your account has been deleted. You can restore your account within 7 days of
            deletion.</p>
        </div>

        <div class="actions">
          <app-button variant="secondary" (click)="logOut()" i18n>Log out</app-button>
          <app-button variant="primary" (click)="restore()" i18n>Restore</app-button>
        </div>
      </form>
    </section>
    <section class="image-side">

    </section>
  </section>
</section>
