<div class="board" cdkDropListGroup>
  <div *ngFor="let column of statuses | async; index as i" class="column">
    <div class="column-header">
      <h3>{{column.name}}</h3>
      <app-icon [icon]="faPlus" size="16px" (click)="openNewTaskDialog()"></app-icon>
    </div>
    <div class="column-content" [cdkDropListData]="getTasksFromStatus(tasks$ | async, column.id)"
      (cdkDropListDropped)="drop($event)" [attr.data-index]="i" cdkDropList cdkDropListSortingDisabled>
      <app-board-task *ngFor="let task of getTasksFromStatus(tasks$ | async, column.id)" class="task" [task]="task"
        [projectId]="projectId" cdkDrag>
      </app-board-task>
    </div>
  </div>
</div>
