<app-view-options [project]="(project$ | async)!"></app-view-options>

<div class="board" cdkDropListGroup>
  <div *ngFor="let column of statusList; index as statusIndex" class="column">
    <div class="column-header">
      <h3>{{column.name}}</h3>
      <app-icon [icon]="faPlus" size="16px" (click)="openNewTaskDialog()"></app-icon>
    </div>
    <div class="column-content" [cdkDropListData]="column.tasks" (cdkDropListDropped)="drop($event)"
      [attr.data-index]="statusIndex" cdkDropList>
      <app-board-task *ngFor="let task of column.tasks; index as taskIndex" class="task" [task]="task"
        [projectId]="projectId" [members]="(members$ | async)!" [attr.data-index]="taskIndex" cdkDrag>
      </app-board-task>
    </div>
  </div>
</div>