.board {
  display: flex;
  min-height: 100%;

  .column {
    display: flex;
    width: 300px;
    min-height: 100%;
    flex-direction: column;
    padding: 1rem;

    .column-header {
      color: var(--color-text);
    }

    .column-content {
      height: 100%;
    }
  }
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.column-content.cdk-drop-list-dragging app-board-task:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
