<div [ngClass]="['input-form-field', 'text-align-' + align]" [class.required]="required"
  [class.has-value]="![null, undefined, ''].includes(control.value) || autofilledByBrowser">
  <label *ngIf="staticLabel" class="static-label">{{ staticLabel }}</label>
  <div class="input-wrapper">
    <div class="fragment-left">
      <div #fragmentLeft class="fragment-left-wrapper">
        <ng-content select=".prefix"></ng-content>
      </div>
    </div>
    <div class="fragment-middle">
      <label *ngIf="floatingLabel" class="floating-label">{{ floatingLabel }}</label>
    </div>
    <div class="fragment-right">
      <ng-container *ngIf="pending; else suffix">
        <loader></loader>
      </ng-container>
      <ng-template #suffix>
        <ng-content select=".suffix"></ng-content>
      </ng-template>
    </div>
    <input #input [name]="name" [type]="type" [placeholder]="placeholder" [formControl]="control" [readonly]="readonly"
      [autocomplete]="autocomplete" (focus)="onFocus()" (blur)="onBlur()"
      [style.padding-left]="(align === 'left' ? fragmentLeft.clientWidth + 16 : 0) + 'px'">
    <div class="overlay">
      <ng-content select=".overlay"></ng-content>
    </div>
  </div>
  <div *ngIf="control.touched && control.invalid" class="error" [class.relative]="allowResizeByError">
    {{ control.errors | validationError }}
  </div>
</div>
