@import '../../../../styles/typography';

.form-field {
  display: flex;
  max-width: 400px;
  flex-direction: column;
  margin-bottom: 0.5rem;

  >label {
    @include typo-title;

    margin-bottom: 0.4rem;
    color: var(--color-input-text);

    &.required::after {
      margin-left: 0.2rem;
      color: var(--color-input-text);
      content: '*';
    }
  }
}

$padding-left: 1rem;
$height: 55px;

// New input
.input-form-field {
  position: relative;
  height: $height;
  margin-bottom: 2rem;

  // Static label for input
  .static-label {
    @include typo-title;

    margin-bottom: 0.4rem;
    color: var(--color-input-text);

    &.required::after {
      margin-left: 0.2rem;
      color: var(--color-input-text);
      content: '*';
    }
  }

  // Floating label for input
  .floating-label {
    @include typo-body;

    padding: 0 0.4rem;
    color: var(--color-text);
    transition: transform 0.2s ease, font-size 0.2s ease;
  }

  // Fragments
  .fragment-left,
  .fragment-middle,
  .fragment-right {
    z-index: 1;
    height: 100%;
    border: 2px solid var(--color-input-border);
    pointer-events: none;
  }

  .fragment-left {
    width: $padding-left;
    border-right-width: 0;
    border-bottom-left-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
  }

  .fragment-middle {
    display: flex;
    align-items: center;
    border-right-width: 0;
    border-left-width: 0;
  }

  .fragment-right {
    flex-grow: 1;
    border-left-width: 0;
    border-bottom-right-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
  }

  .input-wrapper {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: var(--color-input-background);
    border-radius: var(--border-radius);
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: var(--color-input-background-hover);
    }
  }

  input {
    @include typo-body;

    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding-left: calc($padding-left + 0.4rem);
    background-color: var(--color-input-background);
    background-color: transparent;
    border-radius: var(--border-radius);
    color: var(--color-text);
  }
}

.has-value,
:host.focused {
  .floating-label {
    font-size: 0.75em;
    transform: translateY(calc($height / -2));
  }

  .fragment-middle {
    border-top-width: 0;
  }
}

:host:not(.focused) {
  input::placeholder {
    opacity: 0;
  }
}

:host.ng-touched.ng-invalid {
  .fragment-left,
  .fragment-middle,
  .fragment-right {
    border-color: var(--color-red-500);
  }
}

:host.focused .input-form-field {
  .fragment-left,
  .fragment-middle,
  .fragment-right {
    border-color: var(--color-primary-500);
  }
}

.required {
  .static-label::after,
  .floating-label::after {
    margin-left: 0.2rem;
    color: var(--color-red-500);
    content: '*';
  }
}

.error {
  position: absolute;
  margin-top: 0.2rem;
  color: var(--color-red-500);
  font-size: 12px;
  line-height: 0.8rem;
}
