<div class="input-form-field" [class.required]="required" [class.has-value]="!!control.value">
  <label *ngIf="staticLabel" class="static-label">{{ staticLabel }}</label>
  <div class="input-wrapper">
    <div class="fragment-left"></div>
    <div class="fragment-middle">
      <label class="floating-label">{{ floatingLabel }}</label>
    </div>
    <div class="fragment-right"></div>
    <input #input [type]="type" [placeholder]="placeholder" [formControl]="control" [autocomplete]="autocomplete"
      (focus)="onFocus()" (blur)="onBlur()">
  </div>
  <div *ngIf="control.touched && control.invalid" class="error">{{ control?.errors | validationError }}</div>
</div>
