<div class="custom-table w-full grow flex-1">

  <!-- Header -->
  <div class="header-row">
    <div class="header-cell w-full">Title</div>
    <div class="header-cell w-52">Status</div>
    <div class="header-cell w-52">Assignee</div>
    <div class="header-cell w-52">Time tracking</div>
    <div class="header-cell w-52">Deadline</div>
    <div class="header-cell w-52">Story points</div>
    <div class="header-cell action">
      <!-- Actions -->
    </div>
  </div>

  <!-- Body -->
  <div class="body">
    <task-row *ngFor="let task of visibleTasks; trackBy: trackByTask" [task]="task" [projectId]="projectId"
      [members]="members" [statusList]="statusList"></task-row>
    <button *ngIf="visibleTasks.length < tasks.length" class="show-more" (click)="increaseLimit()">
      <app-icon size="16px" [icon]="faPlus"></app-icon>
      <span class="text-base" i18n>Show more</span>
    </button>
  </div>

</div>
