<form [formGroup]="form" (submit)="submitCreate()">
  <div class="project-name">
    <h2 class="text-xl font-bold mb-5" i18n>Workspace: {{ (workspace$ | async)?.name }}</h2>
    <app-input formControlName="name" type="text" placeholder="New project" floatingLabel="Project name"
      i18n-floatingLabel i18n-placeholder></app-input>
  </div>

  <div class="members">
    <h2 class="text-xl font-bold mb-5">Members</h2>
    <div class="button">
      <app-button type="button" [icon]="faPlus" variant="primary" (click)="openAddMembersDialog()">Add member
      </app-button>
    </div>
  </div>
  <app-member-list *ngIf="(memberList !== [])" type='create' [addedMembers]="memberList"></app-member-list>

  <div class="buttons">
    <app-button variant="primary" [pending]="createSubscription && !createSubscription.closed" i18n>Save</app-button>
    <app-button variant="secondary" type="button" [routerLink]="['/', workspaceId]" i18n>Cancel</app-button>
  </div>
</form>
