<section class="main">
  <section class="box">
    <section class="form-side">
      <div class="logo" routerLink="/"></div>
      <div class="return-button" routerLink="/auth/login">
        <app-icon [icon]="faAngleDown" size="16px"></app-icon>
        <a>Back to login page</a>
      </div>
      <form [formGroup]="form" (submit)="resetPassword()">
        <div>
          <h2 class="text-xl font-bold" i18n>Reset password</h2>
          <p class="text-base" i18n>When you enter your email address, you will receive an email with a link to reset
            your password.</p>
        </div>

        <app-input formControlName="email" type="email" placeholder="name@example.com" floatingLabel="Email"
          i18n-floatingLabel i18n-placeholder></app-input>

        <app-button variant="primary" i18n>Reset password</app-button>

      </form>
    </section>
    <section class="image-side">

    </section>
  </section>
</section>
