<div class="form-field">
  <label *ngIf="staticLabel" [class.required]="required">{{ staticLabel }}</label>
  <mat-form-field appearance="outline" [class.without-floating-label]="!floatingLabel">
    <mat-label *ngIf="floatingLabel">{{ floatingLabel }}</mat-label>
    <textarea matInput [placeholder]="placeholder" [required]="required" [formControl]="control"
      [autocomplete]="autocomplete" [rows]="rows" [cols]="cols" name="test"></textarea>
    <mat-error>{{ ngControl.control?.errors | validationError }}</mat-error>
    <mat-hint *ngIf="hint">{{ hint }}</mat-hint>
  </mat-form-field>
</div>
